<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pys.mybatis.dao.EnumTestMapper">
  <resultMap id="BaseResultMap" type="com.pys.mybatis.model.EnumTest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="color" jdbcType="CHAR" property="color" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, color
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enum_test
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enum_test
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pys.mybatis.model.EnumTest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into enum_test (brand, color)
    values (#{brand,jdbcType=VARCHAR}, #{color,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pys.mybatis.model.EnumTest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into enum_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brand != null">
        brand,
      </if>
      <if test="color != null">
        color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pys.mybatis.model.EnumTest">
    update enum_test
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pys.mybatis.model.EnumTest">
    update enum_test
    set brand = #{brand,jdbcType=VARCHAR},
      color = #{color,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>